.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.record{
  margin:0.5rem 0 3rem 0;
}
.card {
  width: 200px;
  height: 350px;
  padding-bottom: 10px;
  border: 1px solid #2222;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.card img {
  max-width: 200px;
  display: block;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
}
.cardText {
  padding-left: 0.5rem;
}

.button-group{
  position: absolute;
  bottom: 5px;
}
.cardText button{
    padding:0.5rem 0.7rem;
    margin:0 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border:none;
}

.btn-link{
  text-decoration: none;
  color:#fff;
}

/* Pagination container */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

/* Pagination button */
.pagination button {
  color: #222;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
